body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px;
}

svg {
    background-color: #f8f9fa;
    border-radius: 8px;
}

path.slice {
    stroke-width: 2px;
    stroke: white;
}

polyline {
    opacity: 0.3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.text {
    font-size: 12px;
    cursor: pointer;
    fill: black;
}

button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.bar-chart-section h2 {
    margin-left: 10px;
}

.chart-container {
    margin-top: 20px;
}

rect:hover {
    stroke-width: 2px;
    stroke: #333;
}

.grandparent rect {
    fill: #ffcc80;
    stroke: #fff;
}

.grandparent:hover rect {
    fill: #ffb74d;
}

.children rect.parent {
    fill: #f0f4c3;
    fill-opacity: 0.5;
}

.children rect.child {
    fill: #aed581;
}

.grandparent text,
.children text {
    fill: #333;
    font-size: 14px;
    font-weight: bold;
}

.children rect.parent:hover {
    fill: #dce775;
}

.children rect.child:hover {
    fill: #81c784;
}

.chart {
    margin-bottom: 40px;
}

.category-heading {
    font-size: 32px; /* Adjust this value to make the text larger or smaller */
    font-weight: bold;
    margin-bottom: 10px; /* Optional: add some space between the heading and the treemap */
    color: rgba(1, 11, 22, 0.795); /* Optional: adjust the color */

}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 18px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    
}


